body {
  font-family: Arial, sans-serif;
  background: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.calculator {
  background: #f30866;
  padding: 20px;
  border-radius: 10px;
  width: 260px;
}

#display {
  width: 100%;
  height: 50px;
  font-size: 22px;
  margin-bottom: 15px;
  text-align: right;
  padding: 10px;
  border-radius: 5px;
  border: none;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

button {
  height: 50px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  opacity: 0.9;
}

.operator {
  background: #ff9500;
  color: white;
}

.clear {
  background: #ff3b30;
  color: white;
  grid-column: span 2;
}

.equals {
  background: #34c759;
  color: white;
  grid-column: span 2;
}
.delete {
  background: #555;
  color: white;
}
